body {
    font-family: Arial, sans-serif;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .form-select {
    width: 100%;
  }
  
  .btn {
    margin-top: 10px;
  }
  p {
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
 
  .caja { 
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}